[user]
	email = sveera.2001@gmail.com
	name = Veera 
[core]
	editor = vim
[status]
	showUntrackedFiles = no
[init]
        defaultBranch = main
[push]
        autosetupremote = true
[diff]
        algorithm = histogram
        submodule = log
[transfer]
        fsckobjects = true
[fetch]
        fsckobjects = true
[receive]
        fsckobjects = true
[status]
        submoduleSummary = true
[submodule]
        recurse = true